@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


:root {

    /* Fonts */

    --pop: 'Poppins';
    --ub: 'Ubuntu';
    --av: 'Avenir';
    --rob: 'Roboto';

    /* Colors */

    --ash1: #888787;
    --ash2: #f1f1f1e5;
    --ash4: #f9fafc;
    --pk: #FF75A0;
    --w: #ffffff;
    --blk: #000000;
    --m: #e9e5e0;
    --ash3: #f9fafc;
    --cr: crimson;
    --cr2: rgb(247, 128, 152);
    --g2: #d1f1bc;
    --g2: #d1f1bc;
    --g: #66B830;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}

/* Navigation Styling */

nav{
    width: 100%;
    height: 70px;
    padding: 5px 0;
    font-size: 1rem;
    font-family: var(--av), sans-serif;
}
nav .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .max-width .right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .max-width .right ul li{
    list-style: none;
}

nav .max-width .right ul li a{
    display: inline-block;
    margin-right: 1.3em;
    font-size: 1.1rem;
    color: var(--blk);
    font-weight: 500;
    text-decoration: none;
}

nav .max-width .right ul li a svg{
    color: var(--blk);
}

nav .max-width .right ul li .currentPage{
    color: var(--ash1);
}
.currentPage::after{
    content: '';
    display: block;
    background-color: var(--ash1);
    border-radius: 6px;
    width: 100%;
    height: 2px;
}
/* Registration Page Styling */

.regForm{
    background-color: var(--ash4);
    height: 100vh;
}

.regForm img{
    width: 100%;
    height: 300px;
    opacity: .85;
    object-fit: cover;
    position: relative;
}

.regForm .max-width{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.regForm .max-width .up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    text-align: center;
}

.regForm .max-width .up .img img{
    width: 95%;
    height: 95%;
}

.regForm .max-width .up .txt{
    margin: .5em;
}

.regForm .max-width .up .txt h2{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .2em;
    font-family: var(--ub), sans-serif;
}

.regForm .max-width .up .txt p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--av), sans-serif;
}

.regForm .max-width .up .txt p a{
    text-decoration: none;
}

/* Registration Form Styling */

.regForm .max-width .down form{
    background-color: var(--w);
    margin: 2.5em 0;
    width: 35vw;
    height: 20%;
    padding: 1.5em;
    border-radius: 6px;
}

.regForm .max-width .down form h2{
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--ub), sans-serif;
}

.regForm .max-width .down form .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .7em;
}

.regForm .max-width .down form .row .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7em;
    width: 100%;
}

.regForm .max-width .down form .row .content input{
    width: 100%;
    padding: .6em;
    outline: none;
    font-size: .9rem;
    border-radius: 6px;
    border: 1px solid var(--ash1);
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.regForm .max-width .down form .row .content label {
    width: 50%;
    font-size: 1rem;
    margin-left: .2em;
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.regForm .max-width .btn{
    margin: 0 0 0 1.5em;
}

.regForm .max-width .btn input{
    outline: none;
    border: var(--pk);
    color: var(--w);
    font-size: .9rem;
    background-color: var(--pk);
    padding: .8em 1.5em;
    border-radius: 6px;
    width: 100px;
}

/* Footer Section Styling */
.footer{
    background-color: var(--m);
    width: 100%;
}

.footer .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
}

.footer .max-width .maxLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.footer .max-width .maxLeft img{
    width: 15%;
    height: 15%;
}
.maxLeft .dir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .max-width .maxLeft .dir .links li {
    list-style: none;
    margin: .6em 1em;
}

#help{
    font-size: 1.2rem;
    font-family: var(--ub), sans-serif;
    font-weight: 400;
}
#link{
    font-size: 1.2rem;
    font-family: var(--ub), sans-serif;
    font-weight: 400;
}

.footer .max-width .maxLeft .dir .links li a {
    font-size: 1rem;
    color: var(--ash1);
    text-decoration: none;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
}
.maxLeft .dir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .max-width .maxLeft .dir .help li {
    list-style: none;
    margin: .6em 1em;
}

.footer .max-width .maxLeft .dir .help li a {
    font-size: 1rem;
    color: var(--ash1);
    text-decoration: none;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
}


.footer .max-width .left .dir .help li {
    list-style: none;
}

.footer .max-width .left .dir .help li a {
    font-size: 1.1rem;
    color: var(--w);
    text-decoration: 
    none;font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
    
}

.footer .max-width .maxLeft .follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .max-width .maxLeft .follow li{
    list-style: none;
}

.footer .max-width .maxLeft .follow li a{
    margin-right: 1em;
    color: var(--ash1);
    font-size: 1.6rem;
    font-family: var(--av), sans-serif;
    font-weight: 300;
}


.footer .max-width .maxRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 3em;
}

.footer .max-width .maxRight .subscribe input[name="email"]{
    width: 65%;
    outline: none;
    border: 1px solid var(--ash1);
    background-color: transparent;
    font-size: .9rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
    margin: 0;
    padding: .6em 8em .6em .6em;
}

.footer .max-width .maxRight .subscribe input[name="subscribe"] {
    outline: none;
    border: 1px solid var(--ash1);
    font-size: .9rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
    margin-left: -.3em;
    padding: .6em .8em;
}

.footer .max-width .maxRight .check{
    display: flex;
    margin-top: .6em;
    align-items: center;
}
.footer .max-width .maxRight .check input{
    padding: 1em;
    cursor: pointer;
}
.footer .max-width .maxRight .check p{
    margin-left: 1.5em;
    font-size: .8rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
}
.line{
    content: '';
    width: 92%;
    height: 1px;
    background-color: var(--ash1);
    border-radius: 6px;
    margin-left: 2em;
}

.footer .down{
    padding: 1em;
}

.footer .down p{
    font-size: 1.1rem;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    color: var(--ash1);
    padding-bottom: .2em;
}

.footer .down p a{
    text-decoration: none;
    color: var(--blk);
    font-family: var(--av), sans-serif;
    font-weight: 300;
}
/* 
.footer .max-width h3{
    font-size: 1.5rem;
    font-family: var(--ub), sans-serif;
    font-weight: 500;
}

.footer .max-width .links h4{
    font-size: 1.4rem;
    font-family: var(--av), sans-serif;
    font-weight: 500;
}
 */