@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


:root {

    /* Fonts */

    --pop: 'Poppins';
    --ub: 'Ubuntu';
    --av: 'Avenir';
    --rob: 'Roboto';

    /* Colors */

    --ash1: #888787;
    --ash2: #f1f1f1e5;
    --ash4: #f9fafc;
    --pk: #FF75A0;
    --w: #ffffff;
    --blk: #000000;
    --m: #e9e5e0;
    --ash3: #f9fafc;
    --cr: crimson;
    --cr2: rgb(247, 128, 152);
    --g2: #d1f1bc;
    --g2: #d1f1bc;
    --g: #66B830;
}

html {
    scroll-behavior: smooth;
    text-decoration: none;
}

#err {
    z-index: 999;
    position: absolute;
    right: 2%;
    width: 30%;
    padding: 1em;
    align-items: center;
    background-color: var(--cr2);
    border: 1px solid var(--cr);
    border-radius: 3px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--av), sans-serif;
    color: var(--cr);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: appearDisappear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes appearDisappear{
    0%{
        top: -40%;
        display: flex;
        opacity: 0;
    }
    5% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    10% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    15% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    20% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    25% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    30% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    35% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    40% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    45% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    50% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    55% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    60% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    65% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    70% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    75% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    80% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    85% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    90% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    95% {
        top: 55%;
        display: flex;
        opacity: 1;
    }
    100% {
        top: -40%;
        display: flex;
        opacity: 0;
    }
}
#err .left{
    width: 30%;
}
#err .right {
    width: 70%;
}
#err .left h2{
    font-size: 2.6em;
}
#err .right h2{
    font-size: 1.2em;
}
#err .right p {
    font-size: .9em;
}

#suc {
    z-index: 999;
    position: absolute;
    top: 55%;
    right: 2%;
    width: 30%;
    padding: 1em;
    align-items: center;
    background-color: var(--g2);
    border: 1px solid var(--g);
    border-radius: 3px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--av), sans-serif;
    color: var(--g);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: appearDisappear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

#suc .left {
    width: 30%;
}

#suc .right {
    width: 70%;
}

#suc .left h2 {
    font-size: 2.6em;
}

#suc .right h2 {
    font-size: 1.2em;
}

#suc .right p {
    font-size: .9em;
}


#success {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 30%;
    padding: 1em;
    align-items: center;
    background-color: var(--g2);
    border: 1px solid var(--g);
    border-radius: 3px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--av), sans-serif;
    color: var(--g);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: appearDisappear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

#success .left {
    width: 30%;
}

#success .right {
    width: 70%;
}

#success .left h2 {
    font-size: 2.6em;
}

#success .right h2 {
    font-size: 1.2em;
}

#success .right p {
    font-size: .9em;
}


/* #err .fa-xmark {
    cursor: pointer;
}

#err.active {
    display: none;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Commerce Navigation Styling */

.commerceNav {
    padding: 10px 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--blk);
}

.commerceNav .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerceNav .max-width .logo a img {
    width: 40px;
    height: 40px;
}

.commerceNav .max-width .navig {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerceNav .max-width .navig .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.commerceNav .max-width .links li {
    list-style: none;
}


.commerceNav .max-width .navig .del i {
    display: none;
}

.commerceNav .max-width .navig .links li a {
    margin-right: 30px;
    color: var(--blk);
    font-family: var(--pop), sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
}

.commerceNav .max-width .navig .search {
    width: 30rem;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
}

.commerceNav .max-width .navig .search input {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--av), sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    outline: none;
    margin-right: 7px;
    border: none;
    background-color: transparent;
}

.commerceNav .max-width .navig .theIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerceNav .max-width .navig .theIcons li {
    list-style: none;
    margin-left: 30px;
}

.commerceNav .max-width .menu i {
    font-size: 20px;
    display: none;
}

/* Navigation Styling */

nav{
    width: 100%;
    height: 70px;
    padding: 5px 0;
    font-size: 1rem;
    font-family: var(--av), sans-serif;
}
nav .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

nav .max-width .right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .max-width .right ul li{
    list-style: none;
}

nav .max-width .right ul li a{
    display: inline-block;
    margin-right: 1.3em;
    font-size: 1.1rem;
    color: var(--blk);
    font-weight: 500;
    text-decoration: none;
}

nav .max-width .right ul li a svg{
    color: var(--blk);
}

nav .max-width .right ul li .currentPage{
    color: var(--ash1);
}
.currentPage::after{
    content: '';
    display: block;
    background-color: var(--ash1);
    border-radius: 6px;
    width: 100%;
    height: 2px;
}


/* Registration Page Styling */
.regForm {
    background-color: var(--ash4);
    height: 105vh;
    width: 100%;
}

.regForm img {
    width: 100%;
    height: 300px;
    opacity: .85;
    object-fit: cover;
    position: relative;
}

.regForm .max-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.regForm .max-width .up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    text-align: center;
}

.regForm .max-width .up .img img {
    width: 95%;
    height: 95%;
}

.regForm .max-width .up .txt {
    margin: .5em;
}

.regForm .max-width .up .txt h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .2em;
    font-family: var(--ub), sans-serif;
}

.regForm .max-width .up .txt p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--av), sans-serif;
}

.regForm .max-width .up .txt p a {
    text-decoration: none;
}

.regForm .max-width .down .register {
    background-color: var(--w);
    margin: 3em 0 2.5em 0;
    width: 35vw;
    max-width: 400px;
    height: 20%;
    padding: 1.5em;
    border-radius: 6px;
}

.regForm .max-width .down .register h2 {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--ub), sans-serif;
}

.regForm .max-width .down .register .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .7em;
}

.regForm .max-width .down .register .row .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7em;
    width: 100%;
}

.regForm .max-width .down .register .row .content input {
    width: 100%;
    padding: .6em;
    outline: none;
    font-size: .9rem;
    border-radius: 6px;
    border: 1px solid var(--ash1);
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.regForm .max-width .down .register .row .content label {
    width: 50%;
    font-size: 1rem;
    margin-left: .2em;
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.regForm .max-width .btn {
    margin: 0 0 0 1.5em;
}

.regForm .max-width .btn input {
    outline: none;
    border: var(--pk);
    color: var(--w);
    font-size: .9rem;
    background-color: var(--pk);
    padding: .8em 1.5em;
    border-radius: 6px;
    width: 100px;
    cursor: pointer;
}


/* Sigin Page Styling */

.logForm {
    background-color: var(--ash4);
    height: 110vh;
    width: 100%;
}

.logForm img {
    width: 100%;
    height: 300px;
    opacity: .85;
    object-fit: cover;
    position: relative;
}

.logForm .max-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logForm .max-width .up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    text-align: center;
}

.logForm .max-width .up .img img {
    width: 95%;
    height: 95%;
}

.logForm .max-width .up .txt {
    margin: .5em;
}

.logForm .max-width .up .txt h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: .2em;
    font-family: var(--ub), sans-serif;
}

.logForm .max-width .up .txt p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--av), sans-serif;
}

.logForm .max-width .up .txt p a {
    text-decoration: none;
}

.logForm .max-width .down .login {
    background-color: var(--w);
    margin: 3em 0 2.5em 0;
    width: 35vw;
    max-width: 430px;
    height: 20%;
    padding: 1.5em;
    border-radius: 6px;
}

.logForm .max-width .down .login h2 {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--ub), sans-serif;
}

.logForm .max-width .down .login .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.logForm .max-width .down .login .row .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .7em;
    width: 100%;
}

.logForm .max-width .down .login .row .content input {
    width: 100%;
    padding: .6em;
    outline: none;
    font-size: .9rem;
    border-radius: 6px;
    border: 1px solid var(--ash1);
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.logForm .max-width .down .login .row .content label {
    width: 50%;
    font-size: 1rem;
    margin-left: .2em;
    font-family: var(--av), sans-serif;
    font-weight: 400;
}

.logForm .max-width .down .login .remind{
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.logForm .max-width .down .login .remind p{
    margin-left: .4em;
    font-size: .9rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
}

.logForm .max-width .btn {
    margin: 0 2em 0 0;
}

.logForm .max-width .btn input {
    outline: none;
    border: var(--pk);
    color: var(--w);
    font-size: .9rem;
    background-color: var(--pk);
    padding: .8em 1.5em;
    border-radius: 6px;
    width: 100px;
    cursor: pointer;
}






/* Footer Section Styling */

.footer{
    background-color: var(--m);
    width: 100%;
}

.footer .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
    max-width: 100%;
}

.footer .max-width .maxLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.footer .max-width .maxLeft img{
    width: 15%;
    height: 15%;
}
.maxLeft .dir{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .max-width .maxLeft .dir .links li {
    list-style: none;
    margin: .6em 1em;
}

#help{
    font-size: 1.2rem;
    font-family: var(--ub), sans-serif;
    font-weight: 400;
}
#link{
    font-size: 1.2rem;
    font-family: var(--ub), sans-serif;
    font-weight: 400;
}

.footer .max-width .maxLeft .dir .links li a {
    font-size: 1rem;
    color: var(--ash1);
    text-decoration: none;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
}
.maxLeft .dir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .max-width .maxLeft .dir .help li {
    list-style: none;
    margin: .6em 1em;
}

.footer .max-width .maxLeft .dir .help li a {
    font-size: 1rem;
    color: var(--ash1);
    text-decoration: none;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
}


.footer .max-width .left .dir .help li {
    list-style: none;
}

.footer .max-width .left .dir .help li a {
    font-size: 1.1rem;
    color: var(--w);
    text-decoration: none;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    margin-top: 1em;
    
}

.footer .max-width .maxLeft .follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .max-width .maxLeft .follow li{
    list-style: none;
}

.footer .max-width .maxLeft .follow li a{
    margin-right: 1.7em;
    color: var(--ash1);
    font-size: 1.6rem;
    font-family: var(--av), sans-serif;
    font-weight: 300;
}


.footer .max-width .maxRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 3em;
}

.footer .max-width .maxRight .subscribe{
    width: 100%;
}
.footer .max-width .maxRight .subscribe input[name="email"]{
    width: 60%;
    outline: none;
    border: 1px solid var(--ash1);
    background-color: transparent;
    font-size: .9rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
    margin: 0;
    padding: .6em 8em .6em .6em;
}

.footer .max-width .maxRight .subscribe input[name="subscribe"] {
    outline: none;
    border: 1px solid var(--ash1);
    font-size: .9rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
    margin-left: -.3em;
    padding: .6em .8em;
}

.footer .max-width .maxRight .check{
    display: flex;
    margin-top: .6em;
    align-items: center;
}
.footer .max-width .maxRight .check input{
    padding: 1em;
    cursor: pointer;
}
.footer .max-width .maxRight .check p{
    margin-left: 1.5em;
    font-size: .8rem;
    font-weight: 300;
    font-family: var(--av), sans-serif;
}
.line{
    content: '';
    width: 92%;
    height: 1px;
    background-color: var(--ash1);
    border-radius: 6px;
    margin-left: 2em;
}

.footer .down{
    padding: 1em;
}

.footer .down p{
    font-size: 1.1rem;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    color: var(--ash1);
    padding-bottom: .2em;
}

.footer .down p a{
    text-decoration: none;
    color: var(--blk);
    font-family: var(--av), sans-serif;
    font-weight: 300;
}


/* Ecommerce Site */

.categ{
    width: 100vw;
    height: 100vh;
    background-color: var(--ash4);
    padding: 0 6rem;
}

.categ .max-width{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.categ .max-width .left{
    width: 23%;
    border: 1px solid var(--blk);
    border-top-color: transparent;
    height: 64vh;

}

.categ .max-width .left .cat{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categ .max-width .left h2{
    text-align: center;
    font-size: 2em;
    font-family: var(--ub), sans-serif;
    font-weight: 500;
    padding: .4rem;
    letter-spacing: .4rem;
}

.categ .max-width .left .cat li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categ .max-width .left .cat li a{
    font-size: 1.1em;
    font-family: var(--av), sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--blk);
    margin-bottom: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categ .max-width .left .cat li a img{
    width: 50%;
    height: 50%;
    margin-right: .4rem;
}

.categ .max-width .right {
    width: 77%;
    margin-top: .7rem;
    margin-left: 1rem;
}

.categ .max-width .right .carousel{
    width: 70vw;
}
.categ .max-width .right .carousel .carousel-inner .carousel-item{
    position: relative;
}
.categ .max-width .right .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textOne{
    position: absolute;
    top: 25%;
    right: 5%;
    padding-left: .6rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textOne h2{
    color: var(--w);
    font-size: 3em;
    font-family: var(--ub), sans-serif;
    font-weight: 500;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textOne p{
    color: var(--w);
    font-size: 1.1em;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    word-spacing: .3rem;
    letter-spacing: .2rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textOne a {
    color: var(--w);
    font-size: 1em;
    font-family: var(--rob), sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textOne a i {
    color: var(--w);
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo {
    position: absolute;
    top: 25%;
    right: 5%;
    padding-left: .6rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo h2 {
    color: var(--w);
    font-size: 3em;
    font-family: var(--ub), sans-serif;
    font-weight: 500;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo p {
    color: var(--w);
    font-size: 1.1em;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    word-spacing: .3rem;
    letter-spacing: .2rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo a {
    color: var(--w);
    font-size: 1em;
    font-family: var(--rob), sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo a i {
    color: var(--w);
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textThree {
    position: absolute;
    top: 25%;
    right: 5%;
    padding-left: .6rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textThree h2 {
    color: var(--w);
    font-size: 3em;
    font-family: var(--ub), sans-serif;
    font-weight: 500;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textThree p {
    color: var(--w);
    font-size: 1.1em;
    font-family: var(--av), sans-serif;
    font-weight: 300;
    word-spacing: .3rem;
    letter-spacing: .2rem;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a {
    color: var(--w);
    font-size: 1em;
    font-family: var(--rob), sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

.categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a i {
    color: var(--w);
}


/* Sales section */






/* Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 480px){

    /* Error messages */

    #err {
        width: 90%;
    }

    #err .left h2 {
        font-size: 2.3em;
    }

    #err .right h2 {
        font-size: 1em;
    }

    #err .right p {
        font-size: .9em;
    }

    /* Success Messages 1 */

    #suc {
        width: 90%;
    }
    #suc .left h2 {
        font-size: 2.3em;
    }
    #suc .right h2 {
        font-size: 1em;
    }
    #suc .right p {
        font-size: .9em;
    }

    /* Success Message 2 */


    #success {
        position: absolute;
        top: 10%;
        right: 2%;
        width: 90%;
    }
    #success .left h2 {
        font-size: 2em;
    }

    #success .right h2 {
        font-size: 1.2em;
    }

    #success .right p {
        font-size: .9em;
    }

    /* Menu ::selection */

    nav {
        width: 100%;
        height: 70px;
        padding: 5px 0;
        font-size: 1rem;
        font-family: var(--av), sans-serif;
    }

    nav .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .max-width .right ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 70px;
        right: -100%;
        bottom: 0;
        background-color: var(--ash3);
        width: 70%;
        z-index: 999;
        padding-top: .3em;
        padding-bottom: .3em;
    }

    nav .max-width .right ul li {
        list-style: none;
    }

    nav .max-width .right ul li a {
        text-align: center;
    }

    /* Registration ::selection */

    .regForm{
        width: 100%;
    }
    .regForm .max-width .up .txt {
        margin: .5em;
    }

    .regForm .max-width .up .txt h2 {
        font-size: 2rem;
    }
    .regForm .max-width .up .txt{
        padding: 2em;
    }
    .regForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .regForm .max-width .up .txt p a {
        text-decoration: none;
    }

    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }

    .regForm .max-width .down form {
        width: 90vw;
    }


    /* Login ::selection */

    .logForm {
        width: 100%;
    }

    .logForm .max-width .up .txt {
        margin: .5em;
    }

    .logForm .max-width .up .txt h2 {
        font-size: 2rem;
    }

    .logForm .max-width .up .txt {
        padding: 2em;
    }

    .logForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .logForm .max-width .up .txt p a {
        text-decoration: none;
    }

    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }
    .logForm .max-width .down .login {
        margin-top: 9em;
        margin-bottom: 0;
        width: 100vw;
    }

    /* Commerce Navigation */

    .commerceNav .max-width .navig {
        border-top: 1px solid var(--blk);
        display: block;
        height: 100vh;
        width: 100%;
        background-color: var(--w);
        z-index: 999;
        position: absolute;
        top: -100%;
        right: 0%;
    }

    .commerceNav .max-width .navig.active {
        right: 0;
    }

    .commerceNav .max-width .menu i {
        display: block;
    }

    .commerceNav .max-width .navig .del {
        position: absolute;
        top: 2%;
        right: 4%;
    }

    .commerceNav .max-width .navig .del i {
        font-size: 20px;
        display: block;
    }

    .commerceNav .max-width .navig .links {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    .commerceNav .max-width .navig .links li {
        margin-top: 45px;
        text-align: center;
    }



    .commerceNav .max-width .navig .links li a {
        font-size: 18px;
    }

    .commerceNav .max-width .navig .theIcons {
        display: flex;
        padding: 5px 10px;
    }

    .commerceNav .max-width .navig .theIcons li {
        list-style: none;
    }

    .commerceNav .max-width .navig .search {
        width: 19rem;
        margin: 10px;
    }


    /* Ecommerce Page */
    .categ{
        width: 100%;
    }
    .categ .max-width {
        flex-direction: column;
    }

    .categ .max-width .left {
        display: none;
    }


    .categ .max-width .right {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 9%;
        left: 0;
        right: 0;
    }

    .categ .max-width .right .carousel {
        width: 100%;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item {
        position: relative;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item img {
        width: 100vw;
        height: 55vh;
        object-fit: cover;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne {
        position: absolute;
        top: 25%;
        right: 5%;
        padding-left: .6rem;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne h2 {
        font-size: 2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne a {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo h2 {
        font-size: 2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo a {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree h2 {
        font-size: 2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a {
        font-size: 1.2em;
    }


    /* Footer ::selection  */

    .footer .max-width {
        flex-direction: column;
        margin: 0 auto;
    }


    .footer .max-width .maxRight .subscribe input[name="email"] {
        width: 60%;
        padding: .6em 2em .6em .6em;
    }

    .footer .max-width .maxRight .subscribe input[name="subscribe"] {
        font-size: .9rem;
        margin-left: -.3em;
        background-color: transparent;
    }


    .footer .down p {
        font-size: .9rem;
        padding-top: .6em;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {


    /* Error messages */
    
    #err {
        width: 30%;
    }

    #err .left h2 {
        font-size: 2.3em;
    }

    #err .right h2 {
        font-size: 1em;
    }

    #err .right p {
        font-size: .9em;
    }


    /* Success messages 1 */

    #suc {
        width: 30%;
    }

    #suc .left h2 {
        font-size: 2.3em;
    }

    #suc .right h2 {
        font-size: 1em;
    }

    #suc .right p {
        font-size: .9em;
    }


    /* Success Message 2 */


    #success {
        position: absolute;
        top: 10%;
        right: 2%;
        width: 75%;
    }

    #success .left h2 {
        font-size: 2em;
    }

    #success .right h2 {
        font-size: 1.2em;
    }

    #success .right p {
        font-size: .9em;
    }

    /* Menu ::selection */

    nav {
        width: 100%;
        height: 70px;
        padding: 5px 0;
        font-size: 1rem;
        font-family: var(--av), sans-serif;
    }

    nav .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .max-width .right ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 0%;
        right: -100%;
        background-color: var(--ash3);
        width: 70%;
        z-index: 999;
        padding-top: .3em;
        padding-bottom: .3em;
    }

    nav .max-width .right ul li {
        list-style: none;
    }

    nav .max-width .right ul li a {
        text-align: center;
    }


    .regForm .max-width .up .txt {
        margin: .5em;
    }

    .regForm .max-width .up .txt h2 {
        font-size: 2.5rem;
    }

    .regForm .max-width .up .txt {
        padding: 2em;
    }

    .regForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .regForm .max-width .up .txt p a {
        text-decoration: none;
    }


    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }

    .regForm .max-width .down form {
        width: 90vw;
    }

    /* Login ::selection */

    .logForm {
        width: 100%;
    }

    .logForm .max-width .up .txt {
        margin: .5em;
    }

    .logForm .max-width .up .txt h2 {
        font-size: 2rem;
    }

    .logForm .max-width .up .txt {
        padding: 2em;
    }

    .logForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .logForm .max-width .up .txt p a {
        text-decoration: none;
    }

    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }

    .logForm .max-width .down .login {
        margin-top: 9em;
        width: 100vw;
    }

    /* Commerce Navigation */

    .commerceNav .max-width .navig {
        border-top: 1px solid var(--blk);
        display: block;
        height: 100vh;
        width: 100%;
        background-color: var(--w);
        z-index: 999;
        position: absolute;
        top: -100%;
        right: 0%;
        /* left: 0; */
    }
    .commerceNav .max-width .navig.active {
        right: 0;
    }
    .commerceNav .max-width .menu i {
        display: block;
    }
    .commerceNav .max-width .navig .del {
        position: absolute;
        top: 2%;
        right: 4%;
    }
    .commerceNav .max-width .navig .del i {
        font-size: 20px;
        display: block;
    }
    .commerceNav .max-width .navig .links {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .commerceNav .max-width .navig .links li {
        margin-top: 45px;
        text-align: center;
    }
    .commerceNav .max-width .navig .links li a {
        font-size: 18px;
    }
    .commerceNav .max-width .navig .theIcons {
        display: flex;
        padding: 5px 10px;
    }
    .commerceNav .max-width .navig .theIcons li {
        list-style: none;
    }
    .commerceNav .max-width .navig .search {
        width: 19rem;
        margin: 10px;
    }


    /* Ecommerce Page */

    .categ {
        width: 100%;
    }

    .categ .max-width {
        flex-direction: column;
    }

    .categ .max-width .left {
        display: none;
    }

    .categ .max-width .right {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 9%;
        left: 0;
        right: 0;
    }

    .categ .max-width .right .carousel {
        width: 100vw;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item {
        position: relative;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item img {
        width: 100vw;
        height: 55vh;
        object-fit: cover;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne {
        position: absolute;
        top: 25%;
        right: 5%;
        padding-left: .6rem;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne h2 {
        font-size: 2.5em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne a {
        font-size: 1.2em;
    }


    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo {
        position: absolute;
        top: 25%;
        left: 5%;
        padding-left: .6rem;
    }
    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo h2 {
        font-size: 2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo a {
        font-size: 1.2em;
    }
    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree {
        position: absolute;
        top: 25%;
        left: 5%;
        padding-left: .6rem;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree h2 {
        font-size: 2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree p {
        font-size: 1.2em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a {
        font-size: 1.2em;
    }

    /* Footer ::selection  */

    .footer .max-width {
        flex-direction: column;
        margin: 0 auto;
    }


    .footer .max-width .maxRight .subscribe input[name="email"] {
        width: 60%;
        padding: .6em 2em .6em .6em;
    }

    .footer .max-width .maxRight .subscribe input[name="subscribe"] {
        font-size: .9rem;
        margin-left: -.3em;
        background-color: transparent;
    }


    .footer .down p {
        font-size: .9rem;
        padding-top: .6em;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {


    /* Error messages */
    
    #err {
        width: 30%;
    }

    #err .left h2 {
        font-size: 2.5em;
    }

    #err .right h2 {
        font-size: 1.2em;
    }

    #err .right p {
        font-size: .9em;
    }


    /* Success messages 1 */

    #suc {
        width: 30%;
    }

    #suc .left h2 {
        font-size: 2.5em;
    }

    #suc .right h2 {
        font-size: 1.2em;
    }

    #suc .right p {
        font-size: .9em;
    }


    /* Success Message 2 */


    #success {
        position: absolute;
        top: 10%;
        right: 2%;
        width: 50%;
    }

    #success .left h2 {
        font-size: 2em;
    }

    #success .right h2 {
        font-size: 1.2em;
    }

    #success .right p {
        font-size: .9em;
    }

    /* Menu ::selection */

    nav {
        width: 100%;
        height: 70px;
        padding: 5px 0;
        font-size: 1rem;
        font-family: var(--av), sans-serif;
    }

    nav .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .max-width .right ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        position: fixed;
        top: 70px;
        right: -120%;
        bottom: 0;
        background-color: var(--ash3);
        width: 70%;
        z-index: 999;
        padding-top: .3em;
        padding-bottom: .3em;
    }

    nav .max-width .right ul li {
        list-style: none;
    }

    nav .max-width .right ul li a {
        text-align: center;
    }


    .regForm .max-width .up .txt {
        margin: .5em;
    }

    .regForm .max-width .up .txt h2 {
        font-size: 2.5rem;
    }

    .regForm .max-width .up .txt {
        padding: 2em;
    }

    .regForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .regForm .max-width .up .txt p a {
        text-decoration: none;
    }


    /* Commerce Navigation */

    .commerceNav .max-width .navig {
        border-top: 1px solid var(--blk);
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: var(--w);
        z-index: 999;
        position: absolute;
        top: -100%;
        right: 0%;
    }

    .commerceNav .max-width .navig.active {
        right: 0;
    }

    .commerceNav .max-width .menu i {
        display: block;
    }

    .commerceNav .max-width .navig .del {
        position: absolute;
        top: 2%;
        right: 4%;
    }

    .commerceNav .max-width .navig .del i {
        font-size: 20px;
        display: block;
    }

    .commerceNav .max-width .navig .links {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    .commerceNav .max-width .navig .links li {
        margin-top: 45px;
        text-align: center;
    }

    .commerceNav .max-width .navig .links li a {
        font-size: 18px;
    }

    .commerceNav .max-width .navig .theIcons {
        display: flex;
        padding: 5px 10px;
    }

    .commerceNav .max-width .navig .theIcons li {
        list-style: none;
    }

    .commerceNav .max-width .navig .search {
        width: 19rem;
        margin: 10px;
    }

    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }

    .regForm .max-width .down form {
        width: 90vw;
    }


    /* Login ::selection */

    .logForm {
        width: 100%;
    }

    .logForm .max-width .up .txt {
        margin: .5em;
    }

    .logForm .max-width .up .txt h2 {
        font-size: 2rem;
    }

    .logForm .max-width .up .txt {
        padding: 2em;
    }

    .logForm .max-width .up .txt p {
        font-size: 1rem;
    }

    .logForm .max-width .up .txt p a {
        text-decoration: none;
    }

    .line {
        content: '';
        width: 85%;
        height: 1px;
        background-color: var(--ash1);
        border-radius: 6px;
        margin-left: 2em;
        margin-right: 2em;
    }

    .logForm .max-width .down login {
        width: 90vw;
    }


    /* Ecommerce Site */

    .categ {
        width: 100%;
        height: 100vh;
        background-color: var(--ash4);
        padding: 0 6rem;
    }

    .categ .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .categ .max-width .left {
        width: 27%;
        border: 1px solid var(--blk);
        border-top-color: transparent;
        height: 64vh;
        position: absolute;
        left: 0%;
        top: 10%;
    }

    .categ .max-width .left .cat {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .categ .max-width .left h2 {
        font-size: 1.5em;
    }

    .categ .max-width .left .cat li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .categ .max-width .left .cat li a {
        font-size: 1.1em;
        margin-bottom: 1.8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .categ .max-width .left .cat li a img {
        width: 70%;
        height: 70%;
        margin-right: .4rem;
    }

    .categ .max-width .right {
        width: 73%;
        position: absolute;
        right: 0;
        top: 10%;
    }

    .categ .max-width .right .carousel {
        width: 100%;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item {
        position: relative;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item img {
        width: 90vw;
        height: 55vh;
        object-fit: cover;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne h2 {
        font-size: 2.4em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne p {
        font-size: 1.1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textOne a {
        font-size: 1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo h2 {
        font-size: 3em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo p {
        font-size: 1.1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textTwo a {
        font-size: 1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree h2 {
        font-size: 3em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree p {
        font-size: 1.1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a {
        font-size: 1em;
    }

    .categ .max-width .right .carousel .carousel-inner .carousel-item .textThree a i {
        color: var(--w);
    }


    /* Footer ::selection  */

    .footer .max-width {
        flex-direction: row;
        margin: 0 auto;
    }

}